<?php foreach ($articles as $article) { ?>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="article-layout article-list col-xs-12">
            <div class="article-intro">
                <div>
                    <!--<h3><a href="<?php echo $article['href']; ?>"><?php echo $article['name']; ?></a></h3>-->
                    <p><?php echo $article['date_modified']; ?></p>
                    <p><?php echo $article['description']; ?></p>
                </div>
            </div>
            <!-- <div class="buttons">
                 <div class="pull-right"><a href="<?php echo $article['href']; ?>"
                                            class="btn btn-primary"><?php echo $button_read_more; ?></a></div>
             </div>-->
        </div>

    </div>
</div>
<?php } ?>