.full_size {
    width: 100%;
}

.without_padding {
    padding-left: 0;
    padding-right: 0;
    height: 140px;
}

.container {
    box-shadow: -10px 0 20px -5px #333, 10px 0 20px -5px #333;
    max-width: 980px;
}

ul.dropdown, ul.sub_menu {
    width: 45%;
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    top: -47px;
    margin-left: 43%;
}

ul.dropdown li {
    float: left;
    position: relative;
    background: transparent;
    flex-grow: 1;
    color: #000;
    font-weight: 600;
    text-align: center;
    border-right: solid 1px #000;
    z-index: 999;
    font-size: 9pt;
}

ul.dropdown li:last-child {
    float: left;
    position: relative;
    background: transparent;
    flex-grow: 1;
    color: #000;
    font-weight: 700;
    text-align: center;
    border-right: 0;
}

ul.dropdown li:hover ul {
    display: flex;
    flex-direction: column;
    min-width: 157px;
    margin-top: 20px;
    background: #272727;
    color: #ffffff;
}

ul.dropdown li a {
    color: #0b0b0b;
}
ul.dropdown li a:hover {
    text-decoration: none;

}

.list-group {
    border-radius: 4px;

}

.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #222;
    text-align: left !important;
    z-index: 700;

}

.list-group-item > a {
    color: #c5c5c5 !important;
    font-weight: 400;
    font-size: 12px;
}

.list-group-item > a:hover span.menudesc {
    background: url("../image/mbullet44.png") no-repeat;
}

.list-group-item > ul li {
    display: none;
}

.list-group-item:hover > ul li {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background: #272727;
    border: 1px solid #222;
    text-align: left !important;
    margin-left: 258px;
    min-width: 300px;
    top: -21px;
}

span.menudesc {
    display: inline-block;
    height: 9px;
    width: 8px;
    background: url("../image/mbullet77.png") no-repeat;
    margin-right: 6px;
}

.languages_menu {
    margin-top: -71px;
    display: inline-block;
}

ul.dropdown ul {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 260px;
}

ul.dropdown ul:hover ul {
    display: block;
    background: transparent;
    min-width: 150px;

}

.business {
    font-size: 10px;
    color: #ccc;
    text-align: center;
    text-shadow: none;
    line-height: 10px;
    background: #000;
}

.business a, .business a:hover {
    text-decoration: none;
    font-size: 10px;
    color: #ccc
}

.business p, .business p:hover {
    margin: 0;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 10px;
    color: #ccc;
    text-align: right;
}

.search_field {
    max-width: 100%;
    margin-bottom: 6px;
    margin-left: 0;
    padding: 3px !important;
    color: #808080;
    font-size: 9px;
    font-weight: 400;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 0;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.030) inset;
    margin-top: 17px;
    width: 160px;
}

.search_button {
    margin-left: 5px;
    font-size: 9px;
    line-height: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    min-height: 10px;
    padding: 2px 5px;
    font-weight: bold;
    color: #666;
}

.input-group {
    display: block;
    text-align: right;
}

.news_products {
    border-top: 3px solid transparent;
    border-image: url(../image/tooo.png) 50 stretch;
    display: flex;
    min-height: 100%;
}
.products_on_main_page {
    min-height: inherit;

    font-family: "Lucida Grande", Arial, Helvetica, sans-serif;
}

.news_header {
    background: url('../image/news.png') no-repeat;
    font-family: "Lucida Grande", Arial, Helvetica, sans-serif;
    font-size: 9pt;
    line-height: 19.2px;
    min-height: 30px;
    color: #333333

}

.news_header p {
    margin-left: 35px;
    margin-top: 10px;
}

.date_black {
    background-color: #333;
    color: #ffffff !important;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 8pt;
    max-width: 85px;
    margin-bottom: 0;
    line-height: 1.3 !important;
}

.main_left_coloumn {
    border-right: 1px solid #696969;
}

.panel {
    border: 0;
    border-radius: 0;
    -webkit-box-shadow: 0;
    box-shadow: none;
}
#all_news_button{
    background: url(../image/myimg/triy1.png) no-repeat scroll right #FFFFFF;
    height: 18px;
    cursor: pointer;
}
#start_news_button{
    background: url(../image/myimg/triy2.png) no-repeat scroll right #FFFFFF;
    height: 18px;
    cursor: pointer;
}
.contact_form{
    width: 100%;
    padding: 3px !important;
    color: #808080;
    font-size: 9px;
    font-weight: 400;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 0;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.030) inset;
    text-rendering: auto;
}
.contact_label{
    font-size: 100%;
    font-weight: inherit;
    font-style: inherit;
    text-align: inherit;
    background: transparent;
    border: 0;
    font-family: inherit;
    outline: 0;
    vertical-align: baseline;
    white-space: normal;
    padding: 0;
    margin: 0;
    font-size: 10pt;
    line-height: 0;
}
.manufacturer{
    padding-left: 25%;
    margin-top: 11px;
    font-size: 13px;
    color: #c5c5c5;
    font-family: "Lucida Grande", Arial, Helvetica, sans-serif;
    line-height: 21.8px;
}
.manufacturer a {
    color: #696969;
    text-decoration: none;
}
.manufacturer a:hover {
    text-decoration: underline;
    color:#a5a3a3;
}
 input[type=submit]{
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0 15px;
    background-color: #fff;
    color: #666;
    text-decoration: none;
    -webkit-appearance: none !important;
    background: #fff;
    background: -moz-linear-gradient(top, #ffffff 0%, #efefef 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#efefef));
    background: -webkit-linear-gradient(top, #ffffff 0%,#efefef 100%);
    background: -o-linear-gradient(top, #ffffff 0%,#efefef 100%);
    background: -ms-linear-gradient(top, #ffffff 0%,#efefef 100%);
    background: linear-gradient(to bottom, #ffffff 0%,#efefef 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#efefef',GradientType=0 );
    min-height: 36px;
    font-size: 13px;
    border: 1px solid #ccc;
    border-radius: 0px;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.05);
    cursor: pointer;
    line-height: 36px;
    nowhitespace: afterproperty;
    nowhitespace: afterproperty;
    nowhitespace: afterproperty;
    nowhitespace: afterproperty;
    text-shadow: 1px 1px 0 #FFFFFF;
}
 .contact_heading{
     overflow: hidden;
     font-size: 10pt;
     font-weight: bold;
     width: 100%;
 }
.contact_form_main_block{
    margin: 0 40px;
    width: 905px;
    min-height: 400px;
}
.contact_success{
    margin-top: 50px;

}
.button_contact{
    margin-top: 50px;
    display: inline-block;

    margin-bottom: 5px;
    padding: 0 15px;
    background-color: #fff;
    color: #666;
    text-decoration: none;
    -webkit-appearance: none !important;
    background: #fff;
    background: -moz-linear-gradient(top, #ffffff 0%, #efefef 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#efefef));
    background: -webkit-linear-gradient(top, #ffffff 0%,#efefef 100%);
    background: -o-linear-gradient(top, #ffffff 0%,#efefef 100%);
    background: -ms-linear-gradient(top, #ffffff 0%,#efefef 100%);
    background: linear-gradient(to bottom, #ffffff 0%,#efefef 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#efefef',GradientType=0 );
    min-height: 36px;
    font-size: 13px;
    border: 1px solid #ccc;
    border-radius: 0px;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.05);
    cursor: pointer;
    line-height: 36px;
    nowhitespace: afterproperty;
    nowhitespace: afterproperty;
    nowhitespace: afterproperty;
    nowhitespace: afterproperty;
    text-shadow: 1px 1px 0 #FFFFFF;
}
.footer_line {
    background: url(../image/booo.png) no-repeat scroll left center #FFFFFF;
    height: 12px;
    width: 100%;
    z-index: 19;
}
.lines{

    position: relative;
    border-right: 3px solid #696969;
}
.lines:before{
    content: " ";
    position: absolute;
    top: 0px;
    right: 4px;
    bottom: 0px;
    border-right: 1px solid #696969;
    width:1px;
}
.lines:last-child{
    border:0;
}
.lines:last-child:before{
    border: 0;
}
.pp1 {
    line-height: 1.3em;
    font-size: 9pt;
    text-align: justify;
    margin: 0;
    color: #333333;
}
.molecula{
    float: right;
    height: 68px;
    width: 97px;
    background: url(/catalog/view/theme/EVO/image/mol2.png) no-repeat center center;
    position: relative;
    margin-bottom: 35px;
}
.border_line{
    border-bottom: 3px solid transparent;
    border-image: url(/catalog/view/theme/EVO/image/space4.png) 30 stretch;
}
.border_line2{
    border-bottom: 3px solid transparent;
    border-image: url('/catalog/view/theme/EVO/image/space4.png') 30 stretch;
    margin-bottom: 30px;
}
.theme_line{
    overflow: hidden;
    background: -moz-linear-gradient(left, #8e8e8e 1%, #4c4c4c 19%, #4c4c4c 19%, #2c2c2c 25%, #2c2c2c 29%, #000000 51%, #1c1c1c 63%, #1c1c1c 63%, #2c2c2c 68%, #2b2b2b 76%, #9e9e9e 93%);
    background: -webkit-linear-gradient(left, #8e8e8e 1%,#4c4c4c 19%,#4c4c4c 19%,#2c2c2c 25%,#2c2c2c 29%,#000000 51%,#1c1c1c 63%,#1c1c1c 63%,#2c2c2c 68%,#2b2b2b 76%,#9e9e9e 93%);
    background: linear-gradient(to right, #8e8e8e 1%,#4c4c4c 19%,#4c4c4c 19%,#2c2c2c 25%,#2c2c2c 29%,#000000 51%,#1c1c1c 63%,#1c1c1c 63%,#2c2c2c 68%,#2b2b2b 76%,#9e9e9e 93%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8e8e8e', endColorstr='#9e9e9e',GradientType=1 );
    height: 3px;
    margin-top: 10px;
}
.pp2{
    margin: 5px 0px 5px 0px;
}
.kaplij{
    float: left;
    vertical-align: baseline;
    background-image: url('/catalog/view/theme/EVO/image/kaplj.png');
    width: 11px;
    height: 15px;
    background-repeat: no-repeat;
    margin-top: 3px;
    margin-right: 5px;
    margin-left: 2px;
}
ul.spsk1 li{
    background: url(/catalog/view/theme/EVO/image/bullet7.gif) no-repeat scroll 20px 4px transparent;
    line-height: 110%;
    margin-bottom: 7px;
    overflow: hidden;
    padding-left: 32px;
    color: #333;
    font-size: 9pt;
}
.links{
    color: #696969;
    text-decoration: none;
}
.links:hover{
    text-decoration: underline;
    color:#a5a3a3;
}
.jshowoff-next .jshowoff-1-next{
    height: 44px;
    width: 20px;
    background: url(/catalog/view/theme/EVO/image/trik.png) center center no-repeat scroll;
    position: absolute;
    top: 141px;
    left: 285px;
}
.our_company_information{
    margin-bottom: 30px;
}
.bubble{
    height: 15px;
    width: 11px;
    margin-right: 5px;
    float: left;
    background: url(/catalog/view/theme/EVO/image/kaplj.png) no-repeat center left;
}
ul.main_products{
    -webkit-padding-start: 8px;
}
ul.main_products li{

    background: url(/catalog/view/theme/EVO/image/bullet7.gif) no-repeat scroll 0px 4px transparent;
    line-height: 110%;
    margin-bottom: 7px;
    overflow: hidden;
    padding-left: 15px;
    color: #333;
    font-size: 8pt;
}
.subcategory{
    padding-left: 30px;
    font-size: 8pt;
    margin-bottom: 4px;
}
.category_image{
    max-height: 22px;
    margin-right: 5px;
}
.products_on_main_for_categories{
    text-transform: uppercase;
    padding-top: 10px;
    font-size: 11.7px;
    font-family: "Lucida Grande", Arial, Helvetica, sans-serif;
}
.lines_right{
    position: relative;
    border-left: 1px solid #696969;
}
.lines_right:before{
    content: " ";
    position: absolute;
    left: -5px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    border-left: 1px solid #696969;
    width: 1px;
}
.lines_right:after{
    content: " ";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 5px;
    bottom: 0px;
    border-left: 2px solid #696969;
    width: 3px;
}

.lines_right p{
    line-height: 1.3em;
    font-size: 9pt;
    text-align: justify;
    margin: 0;
    color: #333333;
    margin-bottom: 12px;
    margin-left: 15px;
}
.types {
    height: 17px;
    width: 250px;
    background: url('../image/myimg/tdf29912.png') no-repeat center center;
}
.correspondents {
    font-size: 9pt;
    text-align: center;
    color: #fff;
    padding: 2px 0px 2px 0px;
}

.details {
    line-height: 1.0em;
    font-size: 9pt;
    text-align: center;
    color: #333;
    padding: 2px 0px 0px 0px;
}
.table_title {
    height: 25px;
    width: 500px;
    background: url('../image/myimg/tdf19922.png') no-repeat center center;
    color: #ffffff !important;
}
.pdf{
    float: left;
    height: 18px;
    width: 21px;
    background: url('../image/myimg/pdf1.gif') no-repeat center center;
}
.pdf_block{
    margin-top: 6%;
}
.pdf_block a{
    color: #696969;
    font-size: 13px;
}
.pdf_block a:hover{
    color: #898989;
    text-decoration: underline;;
}
.no_padding{
    padding-left: 0;
}
.category{
    min-width: 100%;
    border-bottom: 3px solid transparent;
    margin-left: 15px;
}
.category::after {
    background: #ffffff;
    background: -moz-linear-gradient(left,  rgba(221,221,221,0) 1%, rgba(221,221,221,0.35) 2%, rgba(197,197,197,0.7) 3%, rgba(173,173,173,0.8) 4%, rgba(124,124,124,1) 6%, rgba(0,0,0,1) 11%, rgba(0,0,0,1) 12%, rgba(0,0,0,1) 14%, rgba(0,0,0,1) 15%, rgba(0,0,0,1) 18%, rgba(0,0,0,0.96) 21%, rgba(96,96,96,0.86) 29%, rgba(175,175,175,0.21) 83%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(221,221,221,0) 1%,rgba(221,221,221,0.35) 2%,rgba(197,197,197,0.7) 3%,rgba(173,173,173,0.8) 4%,rgba(124,124,124,1) 6%,rgba(0,0,0,1) 11%,rgba(0,0,0,1) 12%,rgba(0,0,0,1) 14%,rgba(0,0,0,1) 15%,rgba(0,0,0,1) 18%,rgba(0,0,0,0.96) 21%,rgba(96,96,96,0.86) 29%,rgba(175,175,175,0.21) 83%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(221,221,221,0) 1%,rgba(221,221,221,0.35) 2%,rgba(197,197,197,0.7) 3%,rgba(173,173,173,0.8) 4%,rgba(124,124,124,1) 8%,rgba(0,0,0,0.7) 12%,rgba(0,0,0,0.96) 16%, rgba(96,96,96,0.76) 40% ,rgba(175,175,175,0) 90%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00dddddd', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
    content: "";
    display: block;
    height: 3px;
    width: 100%;
}
.category_super_category{
    display: block;
    position: relative;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: bold;
    color: #000;
    text-decoration: none;
}
.sub_category{
    margin-left: 54px;
    font-size: 12px;
    color: #000;
    text-decoration: none;
}
.sub_category_category{
    font-size: 12px;
    color: #000;
    text-decoration: none;
}
.category_img{
    max-width: 40px;
    max-height: 30px;
}
.product_text{
    height: auto;
    border-radius: 25px;
    padding: 2px;
    display: block;
    font-size: 10px;
    font-weight: bold;
    background-color: #0b0b0b;
    text-align: center !important;
    margin-bottom: 15px;
    line-height: 1.25;
}
.caption{
    text-align: center !important;
    margin-top: 10px;
}
.product_text a{
    color: #c5c5c5;
    text-align: center !important;
    text-decoration: none;
    vertical-align: sub;
}
.category_products {
    min-height: 210px;
}
.navigation_main{
    display: block;
    position: absolute;
    height: 130px;
    width: 230px;
}
.category_main_slim_padding{
    padding-left: 5px;
    padding-right: 0;
}
.badges{
    margin-top: 30px;
}
.heading{
    float: left;
}
.subcategory_catalog_heading{
    padding-top: 2px;
    padding-left: 5px;
    background: url('/catalog/view/theme/EVO/image/myimg/plashTem.png') no-repeat scroll left center rgba(0, 0, 0, 0);
    width: 270px;
    height: 18px;
    display: block;
    font-size: 10px;
    color: #000;
    margin-bottom: 20px;
}
.subcategory_products{
    margin-top: 5px;
    padding: 0;
}
body {
    font-family: "Lucida Grande", Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background: transparent url('/catalog/view/theme/EVO/image/bbg.jpg') no-repeat center center fixed;
    -moz-background-size: cover;
    -o-background-size: 102% auto;
    -webkit-background-size: 102% auto;
    -khtml-background-size: cover;
    background-size: cover;
}
.container{
    background-color: #ffffff;
}
.no_padding_left{
    padding-left: 0;
}
.panel{
    margin-bottom:0;
}
.panel-body{
    padding:0;
}
.article-intro{
    margin-bottom: 25px;
}
.article-intro p{
    margin-bottom: 0;
    color: #333333;
    font-size: 8pt;
    font-family: "Lucida Grande", Arial, Helvetica, sans-serif;
    line-height: 1.6;
}
#articles{
    margin-left: 20px;
}
.news_header p{
    margin-bottom:0;
}
.btn_language{
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    font-size: 14px;
    line-height: 1.428571429;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    margin-right: 1px;
}
.block_for_category_image{
    display: inline-block;
    width: 40px;
    margin-right: 10px;
}
.for_category{
    max-width: 90%;
    margin-left: 15px;
}
.category_left_block div:first-child{
    margin-top: -7px;
}
.for_product{
    margin-left: 14px;
}
.for_contact{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12pt;
}
form input{
    width: 127px !important;
    height: 17px !important;

}
form label{
    padding:0;
    margin:0;
}
.for_contact_divs{
    margin-top: 10px;
}
.start-height{
    display: flex;
    margin-bottom: 30px;
}
.start-height_child{
    min-height: inherit;
}
.for_static{
    font-size: 11pt;
}