        </div>
            <footer>
                <div class="row">
                    <div class="footer_line"></div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 business">
                        <div class="col-lg-8"><p><?php echo $powered; ?></p></div>
                        <div class="col-lg-4"> <?php echo $search; ?></div>
                    </div>
                </div>
            </footer>
        </div>
    </body>
</html>