<?php if (count($languages) > 1) { ?>
<div class="pull-right languages_menu">
<form action="<?php echo $action; ?>" method="post" enctype="multipart/form-data" id="language">
  <div class="col-lg-12" style="padding-right: 5px">

    <?php foreach ($languages as $language) { ?>
    <?php if ($language['code'] == $code) { ?>
    <!--<img src="image/flags/<?php echo $language['image']; ?>" alt="<?php echo $language['name']; ?>" title="<?php echo $language['name']; ?>">-->
    <?php } ?>
    <?php } ?>


      <?php foreach ($languages as $language) { ?>
      <div class="btn_language"><a href="<?php echo $language['code']; ?>"><img src="image/flags/<?php echo $language['image']; ?>" alt="<?php echo $language['name']; ?>" title="<?php echo $language['name']; ?>" /> <?php // echo $language['name']; ?></a></div>
      <?php } ?>

  </div>
  <input type="hidden" name="code" value="" />
  <input type="hidden" name="redirect" value="<?php echo $redirect; ?>" />
</form>
</div>
<?php } ?>
