<div id="search" class="input-group">
  <input type="text" name="search" value="<?php echo $search; ?>" placeholder="<?php echo $text_search; ?>" class="search_field" />
  <button type="button" class="search_button">Search</button>

</div>