<?php echo $header; ?>

<!--<ul class="breadcrumb">
  <?php foreach ($breadcrumbs as $breadcrumb) { ?>
  <li><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a></li>
  <?php } ?>
</ul>-->
<div class="row"><?php //echo $column_left; ?>
    <!--<?php if ($column_left && $column_right) { ?>
    <?php  $class = 'col-sm-6'; ?>
    <?php } elseif ($column_left || $column_right) { ?>
    <?php $class = 'col-sm-9'; ?>
    <?php } else { ?>
    <?php  $class = 'col-sm-12'; ?>
    <?php } ?>-->
    <div id="content" class="contact_form_main_block"><?php echo $content_top; ?>
        <div class="col-lg-12 contact_success">
            <div class="contact_heading"><?php echo $heading_title; ?></div>
            <br />
            <br />
            <br />
            <br />

            <?php echo $text_message; ?>
            <div class="buttons">
                <a href="<?php echo $continue; ?>"
                                           class="btn btn-primary button_contact"><?php echo $button_continue; ?></a>
            </div>
        </div>

        <?php echo $content_bottom; ?></div>
    <!--<?php echo $column_right; ?>-->

    <?php echo $footer; ?>